<p>update all info about the card</p>
<form action="/detailedInfo_update" method="post">
    <input type="hidden" id="cardID" name="cardID" value="{{cardID}}">
    <table>
        <div class="form-group">
            <label for="Year"></label>
            <input type="number" min="4" max="4" step="1" name="Year" id="Year" value="{{Year}}">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="" min="" step="any" name="" id="" value="">
        </div>
    </table>
    <button type="submit">Save Changes</button>
</form>
